mat-datepicker-toggle-default-icon {
    color: violet !important;
}
.input{
    position: relative;
    z-index: 1
}
.slider {
    position: relative;
}
mdb-carousel-item {
    position: unset !important;
}